.div1 {
	padding: 20px;
	border: 1px solid red;
	background: red;
	width:200px;
	height: 200px;
}
.div2 {
	background: green;
	width:100px;
	height:100px;
}
.div3 {
	height: 80px;
	widows: 80px;
	background: yellow;
}
.div4 {
	height:200px;
	widthï¼š200px;
	background: black;
}
.div5 {
	background-color: white;
	width:100px;
	height: 100px;
}